html {background-color: teal}


h1 {
    color: peru;
}

.styled-class {
    color: red;
    background-color: silver;
    font-size: 50px;
}

h2 {
    color: lavender
}

.p1 {
    background-color: lawngreen;
}

.p2 {
    color: white;
    font-size: 20px;
    background-color: violet;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 50px;
}